@font-face {
    font-family: Montserrat;
    src: url(./assets/fonts/Montserrat/Montserrat-light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: Montserrat;
    src: url(./assets/fonts/Montserrat/Montserrat-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Montserrat;
    src: url(./assets/fonts/Montserrat/Montserrat-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: Montserrat;
    src: url(./assets/fonts/Montserrat/Montserrat-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: Montserrat;
    src: url(./assets/fonts/Montserrat/Montserrat-Bold.ttf);
    font-weight: bold;
}
* {
    font-family: ''Montserrst'', sans-serif;
    box-sizing: border-box;
    color: #424242;
}


body {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
   
}

.app_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.app_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.app_logo .app_title {
    margin-right: 1rem;

}
.app_title2 {
    display: none;

}

.menu_collapse {
    display: none;
}

.app_links {
    list-style: none;
    display: flex;
    flex-direction: row;
}
.app_links li {
    margin-right: 1.5rem;
    font-size: 14px;
    font-weight: 500;
}
.app_links li.active {
    color: #5a47ab;
    font-weight: 600;
}
.app_showcase {
    display: flex;
    margin: 5rem, 0;
}
.app_showcase-info {
    flex:6;
    padding: 0 3rem;
}

.app_showcase-info h1,
 h3 {
    font-size: 52px; 
    margin: 0;
}

.app_showcase-info h1 {
    color: #d05270;
    font-weight: bold;
}

.app_showcase-info h3 {
    font-weight: 500;
}
.app_showcase-info p {
    font-size: 18px;
    font-weight: 400;
}
.app_showcase-image {
    flex: 4;
}
.app_links {
  display: flex;  
  justify-content: space-between;
  margin-top: 3rem;
}

.app_links .app_link {
    color: #ffffff;
    font-size: 12px;
    width: 30%;
    height: 60px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app_links .app_limk img {
    margin-right: 2rem;
}
.app_links .app_link.twitter {
    background-color: #47acdf;
}
.app_links .app_link.linkedin {
    background-color: #1275b1;
}
.app_links .app_link.medium {
    background-color: #000;
}

 .app_blok-categories {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.app_blok-categories.item {
    font-weight: 500;
    font-size: 18px;
    margin-right: 2rem;
    cursor: pointer;
}
.app_blok-categories .item.active {
    color: #D05270;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #D05270;
    padding: 0 4rem;
    padding-bottom: 0.5rem;
}

.app_post-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.app_post-list .app_post-card {
    display: flex;
    flex: 0 0 50%;
    flex-direction: column;
    padding: 0 2rem;
    margin: 2rem 0;
    width: 45%;
    justify-content: space-around;
    
}
.app_post-list .app_post-card .post-image {
    height: 400px;
    width: initial;
}
.app_post-list .app_post-card .post-date {
    font-size: 14px;
    height: 600;
    margin: 0.5rem 0;
}


.app_post-list .app_post-card .post-title {
    font-size: 24px;
    font-weight: 600;
    color:#D05270;
    margin: 0.5rem 0;

}

.app_post-list .app_post-card .post-info {
    font-weight: 400;
    margin: 0.5rem 0;
    
    
}
.app_post-list .app_post-card .post-link {
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color:#D05270;
    border-bottom: 1px solid #D05270;
    padding-bottom: 5px;
    width: fit-content;
    margin-top: 2rem;
}

.footer {
    position: relative;
    text-align: center;
    margin: 5rem 0;

}
@media only screen and (max-width: 850px) {
  body{
    width: 90%;
    margin: auto;
 }

  .app_links-container {
    display: none;
    position: absolute;
    left: 0%;
    top: 10%;
    width: 100%;
    height: 0%;
    background-color: #ffffff;
    transition: height 500ms ease-in-out;

  }
  .app_links-container.active {
    display: block;
    height: 100%;
  }
  .app_links {
    z-index: 1;
    flex-direction: column;
  }
  .app_links li {
    margin-bottom: 1.5rem;
    font-size: 20px;

  }
  .menu_collapse {
    display: block;
  }
  .app_title2 {
    display: block;
    margin-right: 1rem;
  }
  .app_title {
    display: none;

  }

 }
